.hero{
    background: linear-gradient(135deg,#0057D9,#0078D4,#00A4EF);
    color:white;
    text-align:center;
    padding:100px 20px;
}

.hero-content{
    max-width:900px;
    margin:auto;
}

.hero h1{
    font-size:58px;
    margin-bottom:20px;
    font-weight:700;
}

.hero h1 span{
    color:#FFD54F;
}

.hero p{
    font-size:22px;
    line-height:1.7;
    margin-bottom:40px;
    opacity:.95;
}

.hero-buttons{
    margin-top:20px;
}

.btn{
    display:inline-block;
    padding:15px 35px;
    margin:10px;
    border-radius:50px;
    text-decoration:none;
    font-size:18px;
    font-weight:bold;
    transition:.3s;
}

.btn{
    background:white;
    color:#0057D9;
}

.btn:hover{
    transform:translateY(-4px);
    box-shadow:0 15px 30px rgba(0,0,0,.2);
}

.whatsapp{
    background:#25D366;
    color:white;
}

.hero-stats{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:80px;
    margin-top:60px;
    flex-direction:row;
    flex-wrap:nowrap;
}

.hero-stats div{
    text-align:center;
}

@media(max-width:768px){
    .hero-stats{
        flex-direction:column;
        gap:30px;
    }

    .hero h1{
        font-size:42px;
    }

    .hero p{
        font-size:18px;
    }
}
.hero-stats h2{
    font-size:42px;
    margin:0;
}

.hero-stats p{
    font-size:16px;
    margin-top:10px;
}
